@mixin standard-button($background, $color) {
  background: $background;
  color: $color;
  border: 1px solid $background;
  padding: 12px 0;
  transition: background 200ms ease, border-color 200ms ease;
  cursor: pointer;

  &:hover {
    background: lighten($background, 5%);
    border-color: lighten($background, 5%);
  }
}