// Information points wrapper
.information-points {
  padding: 0 $padding 60px;
}

.information-points__title {
  font-size: 40px;
  padding: 46px 0 24px;
}

.information-points__subtitle {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

// Information blocks
.information-blocks__row {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 80px;
}

.information-blocks__row--single {
  display: inline-block;
  width: 50%;
}

.information-block {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.information-block:first-child {
  padding-right: 42px;
}

.information-block:last-child {
  padding-left: 42px;
}

.information-blocks__row--single .information-block:first-child {
  padding-left: 0;
}

.information-block__inner {
  height: 100%;
  border: 1px solid #4A4A4A;
}

.information-block__points {
  position: relative;
}

.information-block__title {
  position: relative;
  background: $green;
  padding: 15px 10px 20px 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  color: #fff;
  z-index: $zIndexInfoBlockTitle;
}

.information-block__image {
  position: absolute;
  top: -2px;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/information-block-test-image.jpg');
}

.information-block__items {
  position: relative;
  list-style: disc;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  z-index: $zIndexInfoBlockItems;
  background: #fff;
  transition: opacity 200ms ease, visibility 200ms ease;
}

.information-block__items--active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 860px) {
  .information-points {
    padding: 0 $paddingMobile 20px;
  }

  .information-points__title {
    font-size: 34px;
    padding: 20px 0 0;
  }

  .information-points__subtitle {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .information-blocks__row {
    padding-bottom: 0;
  }

  .information-blocks__row--single {
    display: block;
    width: 100%;
  }

  .information-block {
    display: block;
    width: 100%;
    margin: 20px auto;
  }

  .information-block:first-child {
    padding-right: 0;
  }

  .information-block:last-child {
    padding-left: 0;
  }
}