.step {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.step__content {
  width: 60%;
  float: left;
  padding: 0 $padding;
}

// Header
.step__header {
  padding-bottom: 30px;
}

.step__header-title {
  font-size: 40px;
}

.step__counter {
  color: #818A91;
}

// Form
.step__form {
  padding-top: 5px;
  padding-bottom: 100px;
}

.step__form-fieldset {
  display: inline-block;
  padding: 25px 0;
}

.step__form--explainer-title {
  font-size: 20px;
  margin-top: 20px;
}

.step__form--explainer {
  color: #818A91;
}

// Form - two up
.step__form--two-up {
  display: table;
  width: 100%;
}

.step__form--two-up .step__form-fieldset {
  width: 50%;
  display: inline-block;
}

.step__form--two-up .step__form-fieldset:first-child {
  padding-right: 20px;
}

.step__form--two-up .step__form-fieldset:last-child {
  padding-left: 20px;
}

// Form - DOB
.step__form--dob {
  display: table;
  width: 100%;
}

.step__form--dob .step__form-fieldset {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

// Form - custom fieldset settings
.step__form--title-input {
  min-width: 230px;
}

.step__form-onward-options .step__form-fieldset {
  display: block;
  width: 100%;
  max-width: 430px;
}

.step__form-submit {
  @include standard-button($purple, #fff);
}

@media (max-width: 1080px) {
  .step__content {
    width: 55%;
  }
}

@media (max-width: 960px) {
  .step__content {
    width: 100%;
  }
}